.wrapper .main_container .content-panel {
/* padding: 30px; */
background: rgb(39, 133, 161);
width: 90%;
}
.wrapper .main_container .content-panel .form{
    margin: auto;
    width: 80%;
    height: auto;
    /* padding: 3rem; */
}


@media (max-width:767px) {
.wrapper .main_container .content-panel .form {
    text-align: center;
}
.wrapper .main_container .content-panel{
    height: 100%;
}
}